*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body{
  background-color: #f1f1ff;
}
.header{
  background-color: #098;
  padding: 1rem;
  color:#fff;
}